<div class="image-container-single">
  <div class="large-single">
    <img src="{{this.url}}">
    <p>
      {{this.descript}}
      {{#each this.tags}}
        <a href="/images/?tagname={{this.name}}"> #{{this.name}}</a>
      {{/each}}
    </p>
  </div>
</div>
