<!DOCTYPE=html>
<html>

<head>
  <title>{{title}}</title>
</head>

<body>

  <header>
    <h1>{{title}}</h1>
    <h5><em>- brought to you by {{author}}</em></h5>
  </header>

  <main>
    <p>
      Main stuff here.
    </p>
  </main>

</body>

</html>
