<!DOCTYPE=html>
<html>

<head>
  <title>Gif Meme My Image</title>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>

<body>

  <header>
    <h1>Gif Meme My Image!</h1>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <h5>- brought to you by Pearl, Lauren, Nick, Jenny, and Broc</h5>
  </footer>

</body>

</html>
