

<form action="/image-add" method= "post">>

    Hash Tag: <input type= "text" name= "hashTag" id="hashTagInput">
    URL: <input type= "text" name= "url" id="urlInput">
    Description: <input type= "text" name= "description" id="descriptionInput">
      <input type="submit" value="submit">

</form>



