body {
  background-color: #283e66;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

header, footer {
  width: 100%;
  text-align: center;
  color: #ffc11a;
}

header h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 4rem;
  line-height: 5rem;
  margin: 1rem;
  margin: 20px 0 100px 0;
}

footer h5 {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin: 100px 0 20px 0;
}

main {

}

.image-container-all {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.image-container-single {
}

.image-container-single img {
}

.small-single {
  width: 260px;
  height: 320px;
  margin: 5px;
}

.small-single img {
  width: 250px;
  height: 250px;
  margin: 5px;
}

.large-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-single p {
  font-size: 16pt;
}

.small-single p {
  font-size: 14pt;
}

a {
  color: black;
}







