body {
  background-color: #283e66;
  font-family: 'Cabin', Helvetica, Arial, sans-serif;
}

header, footer {
  width: 100%;
  text-align: center;
  color: #ffc11a;
}

header a {
  text-decoration: none;
  color: #ffc11a;
}

header h1 {
  font-family: 'Lobster', Georgia, Times, serif;
  font-size: 4.5rem;
  line-height: 5rem;
  margin: 1rem;
  margin: 50px 0 70px 0;
}

footer h5 {
  font-size: 1.25rem;
  line-height: 2rem;
  margin-bottom: 1rem;
  margin: 100px 0 20px 0;
}

main {

}

.masonry {
  column-count: 4;
  column-gap: 1em;
  /*display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;*/
}

.item {
  background-color: #eee;
  display: inline-block;
  margin: 00 1em;
  margin-top: 2em;
}

.item img {
  width: 100%;
}

/*.image-container-single {
}

.image-container-single img {
}

.small-single {
  width: 260px;
  height: 320px;
  margin: 5px;
}

.small-single img {
  width: 250px;
  height: 250px;
  margin: 5px;
}
*/
.large-single {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.large-single p {
  font-size: 16pt;
}

.item p {
  font-size: 14pt;
  padding-left: 20px;
}

a {
  color: black;
}

@media only screen and (min-width: 400px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media only screen and (min-width: 700px) {
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media only screen and (min-width: 900px) {
    .masonry {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

/*@media only screen and (min-width: 1100px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}*/







